<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h3 class="text-white text-center">Terms and Conditions</h3>
        <div class="p-5 mt-4 bg-secondary-theme">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab eaque, neque vero fugit sint qui eos est debitis. Corporis non reprehenderit culpa iure asperiores distinctio, accusantium quas exercitationem ad atque laudantium ea, doloremque ipsam suscipit fugit fugiat eligendi? Voluptatum unde maxime, fugiat natus quidem possimus!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab eaque, neque vero fugit sint qui eos est debitis. Corporis non reprehenderit culpa iure asperiores distinctio, accusantium quas exercitationem ad atque laudantium ea, doloremque ipsam suscipit fugit fugiat eligendi? Voluptatum unde maxime, fugiat natus quidem possimus!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab eaque, neque vero fugit sint qui eos est debitis. Corporis non reprehenderit culpa iure asperiores distinctio, accusantium quas exercitationem ad atque laudantium ea, doloremque ipsam suscipit fugit fugiat eligendi? Voluptatum unde maxime, fugiat natus quidem possimus!</p>
            <div class="text-center">
                <button class="btn btn-info btn-sm btn-hm mt-4">Back Home</button>
            </div>
        </div>
    </div>
</section>