<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="site-logo">InkSphere</div>
                <div>
                    <ul class="nav justify-content-center">
                        <li class="nav-item"><a href="" class="nav-link">Home</a></li>
                        <li class="nav-item"><a href="" class="nav-link">About</a></li>
                        <li class="nav-item"><a href="" class="nav-link">Terms and conditions</a></li>
                        <li class="nav-item"><a href="" class="nav-link">Contact us</a></li>
                    </ul>
                </div>
                <p class="mb-2 mt-2">Copyright © 2025 InkSphere</p>
            </div>
        </div>
    </div>
</footer>