<div class="card">
    <img src="https://images.pexels.com/photos/733853/pexels-photo-733853.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" class="card-img-top">
    <div class="class-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ms-3">Featured</small>
        <small class="bg-light text-info text-center ms-3">Views - 10564</small>
        <h5 class="mt-1">PHOTOGRAPHY IN 2024 - NEW OPPURTUNITIES</h5>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima sint, ipsa pariatur laborum, recusandae provident alias repellat consectetur distinctio iure nihil natus magni eos expedita ad! Fugit deleniti neque error aliquam soluta.</p>
        <small class="bg-light text-warning text-center ms-3">Last Updated - 20 FEB 2024</small>
    </div>
</div>