<section class="featured-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center mt-4">
                <h2 class="text-white">Featured Posts</h2>
                <p class="text-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3">
                <app-post-card></app-post-card>
            </div>
            <div class="col-lg-3">
                <app-post-card></app-post-card>
            </div>
            <div class="col-lg-3">
                <app-post-card></app-post-card>
            </div>
            <div class="col-lg-3">
                <app-post-card></app-post-card>
            </div>
        </div>
    </div>
</section>

<section class="latest-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center mt-5">
                <h2 class="text-dark">Latest Posts</h2>
                <p class="text-dark">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 mt-5">
                <app-post-card></app-post-card>
            </div>
            <div class="col-lg-4 mt-5">
                <app-post-card></app-post-card>
            </div>
            <div class="col-lg-4 mt-5">
                <app-post-card></app-post-card>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 mt-5">
                <app-post-card></app-post-card>
            </div>
            <div class="col-lg-4 mt-5">
                <app-post-card></app-post-card>
            </div>
            <div class="col-lg-4 mt-5">
                <app-post-card></app-post-card>
            </div>
        </div>
    </div>
</section>