<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h3 class="text-white text-center">About Us</h3>
        <div class="p-5 mt-4 bg-secondary-theme">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci beatae autem consequuntur quisquam eaque, hic, tenetur voluptas veniam est cumque delectus esse vel inventore unde voluptatem, rem dolore quibusdam ex.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci beatae autem consequuntur quisquam eaque, hic, tenetur voluptas veniam est cumque delectus esse vel inventore unde voluptatem, rem dolore quibusdam ex.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci beatae autem consequuntur quisquam eaque, hic, tenetur voluptas veniam est cumque delectus esse vel inventore unde voluptatem, rem dolore quibusdam ex.</p>
            
            <div class="text-center">
                <button class="btn btn-info btn-sm btn-hm mt-4">Back Home</button>
            </div>
        </div>
    </div>
</section>